@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Nanum+Gothic:wght@400;700&display=swap");

* {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 14px;
}

h1 {
    font-family: "Kirang Haerang", cursive;
    font-size: 3rem;
}
